
<div class="container mt-5">
  <h2 class="text-center my-5">
    Search Flights
  </h2>
  <%= form_with(url: "/flights", method: "get", local: true, class: "") do |f| %>
    <div class="form-group container mx-auto">
    
      <div class="form-group">
        <%= f.label :to, class: "mr-3" %>
        <%= f.collection_select(:from_airport_id, @airports, :id, :code) %>
      </div>

      <div class="form-group">
        <%= f.label :from %>
        <%= f.collection_select(:to_airport_id, @airports, :id, :code, html_options: {class: "form-control"}) %>
      </div>

      <div class="form-group">
        <%= f.label :no_of_passengers, "Passengers" %>
        <%= f.select(:passengers, [ ['One',1], ['Two',2], ['Three',3], ['Four',4] ], html_options: {class: "form-control"}) %>
      </div>

      <div class="form-group">
        <%= f.label :departure_time, "Departure Time" %>
        <%= date_select("flight", "departure_time", html_options: {class: "form-control"}) %>
      </div>

      <div class="form-group">
        <%= f.submit value: "Search", name: nil, class: "btn btn-primary" %>
      </div>

    </div>
    <% #byebug %>
  <% end %>
</div>

<% if @available_flights.count >= 1 %>

  <hr class="mt-5" />

  <h1 class="text-center text-primary">Available Flights: </h1>
  <table class="table table-striped mx-auto text-center">
    <thead>
      <tr>  
        <th>ID</th>
        <th>FROM</th>
        <th>TO</th>
        <th>Departure Date</th>
        <th>Departure Hour</th>
        <th>Flight Duration</th>
      </tr>
    </thead>
    <tbody>
      <%= form_with url: "/bookings/new", method: "get", local: true do |f| %>
        <% @available_flights.each do |flight| %>
          <tr>
            <td><%= flight.id %></td>
            <td><%= flight.from_airport.code %></td>
            <td><%= flight.to_airport.code %></td>
            <td><%= flight.departure_time.strftime('%d/%m/%y') %>
            <td><%= flight.departure_time.strftime('%H:%M')%></td>
            <td><%= flight.travel_duration %></td>
          </tr>
        <% end %>
      <%= f.hidden_field :passengers, value: params[:passengers] %>
    </tbody>
  </table>
  <div class="wrapper mx-auto d-inline-block">
    <%= f.collection_select(:flight_id, @available_flights, :id, :id, html_options: {class: "form-control"})%>
  </div>
  <%= f.submit "Book this Flight",  class:" text-center mx-auto d-block btn btn-success"%>
  <% end %>


    
<% end %>
