<!DOCTYPE html>
<html>
  <head>
    <title>Odin Airways</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
  		<div class="alert alert-primary mb-0">
  			<h3 class="notice"><%= notice %></h3>
  		</div>
  	<% end %>
  	<% if flash[:alert] %>
  		<div class="alert alert-danger mb-0">
  			<h3 class="alert"><%= alert %></h3>
  		</div>
  	<% end %>
    <div class="my-0 px-4 bg-dark text-center py-2 d-flex justify-content-between align-items-center">
      <% if !user_signed_in? %> 
        <%= link_to 'My bookings', your_bookings_path, class: "h4 text-light" %>
        <%= link_to 'Odin Airways', root_path, class: "h2 text-warning" %>
        <div>
          <%= link_to 'Sign up', new_user_registration_path , class: "h4 text-info" %> 
          <%= link_to 'Sign in', new_user_session_path, class: "h4 text-info" %>
        </div>
        
      <% else %>
        <%= link_to 'My bookings', your_bookings_path, class: "h4 text-light" %>
        <%= link_to 'Odin Airways', root_path, class: "h2 text-warning" %>
        <%= link_to 'Sign out', destroy_session_path(current_user), method: :delete, class:"h4 text-danger"%>
      <% end %>
      
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
